<% provide(:title, 'Help') %>
    <h1>Help</h1>
     <p>
        Get help on the Rubyon RailsTutorialat the
        <a href="http://railstutorial.org/help">RailsTutorialhelppage</a>.
        To get helpon thissampleapp,see the
        <a href="http://railstutorial.org/book">RailsTutorialbook</a>.
     </p>
    